nav{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: block;
    margin: 0 auto;
    max-width: max-content;
    padding: 0.4rem 1.3rem;
    border-radius: 3rem;
    display: flex;
    gap: 1rem;
    z-index: 3;
}

nav a{
    background: transparent;
    padding: 0.5rem 0.8rem;
    color: var(--color-light);
    font-size: 1.2rem;
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

nav a:active{
    background-color: var(--color-bg);
    color: green;
    border-radius: 50%;
}